:root {
  --color-white: #FFFFFF;
  --color-light: #F3F3F3;
  --color-misty_light: #C4C4C4;
  --color-soft_dark: #65656C;
  --color-dark: #22262C;
  --color-brand_1: #fdd700;
  --color-brand_2: #f84c4c;
  --box_shadow-soft: 0px 4px 8px rgba(0, 0, 0, 0.20);
  --border_radius-medium: 8px;
  --border_radius-small: 4px;
  --fz-xx_large: 3.4rem;
  --fz-x_large: 2.8rem;
  --fz-large: 2.4rem;
  --fz-medium: 2rem;
  --fz-small: 1.8rem;
  --fz-x_small: 1.6rem;
  --fz-xx_small: 1.4rem;
  --fz-xxx_small: 1.2rem;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

body {
  background-color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
}
  body .container {
    position: relative;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
  }


header {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 0 16px;
  box-shadow: var(--box_shadow-soft);
}
  header div {
    display: grid;
    grid-template: 48px / auto auto;
    gap: 16px;
    align-items: center;
  }
    header div a {
      display: flex;
    }
    header div a svg {
        color: var(--color-dark);
        width: 28px;
        height: 28px;
    }


.menu {
  z-index: 1;
  position: absolute;
  top: 48px;
  background-color: var(--color-light);
  display: none;
  flex-direction: column;
  width: 80%;
  height: 100vh;
  padding: 16px;
}
.menu.show {
  display: flex;
}
  .menu h2 {
    color: var(--color-dark);
    margin-bottom: 16px;
    font-size: var(--fz-xx_large);
    font-weight: 700;
  }
  .menu ul {
    display: grid;
    grid-template: repeat(6, auto) / 100%;
    gap: 16px;
  }
    .menu ul li {
      color: var(--color-dark);
      display: flex;
      align-items: center;
      height: fit-content;
      font-size: var(--fz-medium);
      font-weight: 700;
      gap: 16px;
    }
      .menu ul li i {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 100%;
      }
        .menu ul li i svg {
          color: var(--color-dark);
          width: 14px;
          height: 14px;
        }
      .menu ul li span {
        display: flex;
        align-items: center;
        width: fit-content;
      }
        .menu ul li span svg {
          color: var(--color-dark);
          width: 20px;
          height: 20px;
        }


main {
  /* background-color: var(--color-white); */
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 48px;
}
  main article {
    /* background-color: skyblue; */
    display: flex;
    flex-direction: column;
  }
    main article .message {
      /* background-color: seagreen; */
      color: var(--color-dark);
      display: grid;
      grid-template: auto auto auto / 100%;
      gap: 12px;
      text-align: center;
      margin: 48px 32px;
    }
      main article .message h1 {
        font-size: var(--fz-x_large);
        font-weight: 700;
      }
      main article .message h2 {
        font-size: var(--fz-medium);
        font-weight: 700;
      }
      main article .message p {
        font-size: var(--fz-x_small);
        font-weight: 400;
      }

    main article .see_more {
      background-color: var(--color-brand_1);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 32px;
      margin-top: 48px;
    }
    main article .see_more.campus {
      margin-top: 36px;
    }
      main article .see_more h2 {
        color: var(--color-dark);
        margin-right: 12px;
        font-size: var(--fz-medium);
        font-weight: 700;
      }
      main article .see_more svg {
        color: var(--color-dark);
        width: 16px;
        height: 16px;
        transform: rotateZ(-90deg);
      }

    main article .carousel_container {
      /* background-color: yellowgreen; */
      display: flex;
      padding: 0 32px;
      overflow-x: scroll;
    }
    ::-webkit-scrollbar {
      display: none;
    }
    .carousel_container .carousel {
      /* background-color: fuchsia; */
      display: grid;
      grid-template: auto / repeat(3, auto);
      gap: 16px;
      padding-bottom: 12px;
    }
    .carousel_container .carousel section {
      /* background-color: rosybrown; */
      display: grid;
      grid-template: repeat(3, auto) / auto;
      justify-items: center;
    }
      .carousel section h2 {
        color: var(--color-dark);
        font-size: var(--fz-small);
        font-weight: 700;
      }
      .carousel section figure {
        position: relative;
        width: 256px;
        height: 256px;
        border-radius: var(--border_radius-medium);
        box-shadow: var(--box_shadow-soft);
        overflow: hidden;
      }
        .carousel section figure img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
        }
    .carousel_container .carousel .offer {
      gap: 12px;
    }

    main article .button {
      background-color: var(--color-dark);
      color: var(--color-light);
      width: 100%;
      height: 48px;
      border: none;
      border-radius: var(--border_radius-medium);
      box-shadow: var(--box_shadow-soft);
      font-size: var(--fz-x_small);
      font-weight: 700;
      cursor: pointer;
      transition: all 200ms ease;
    }
    main article .button:hover {
      background-color: var(--color-brand_2);
    }
    main article .button.map {
      align-self: center;
      width: 256px;
      margin-top: 12px;
    }

    main article .select_container {
      position: relative;
      align-self: center;
      width: 256px;
      height: 48px;
      padding: 0 12px 0 4px;
      margin-bottom: 12px;
      border: 2px solid var(--color-dark);
      border-radius: var(--border_radius-medium);
    }
      .select_container select::-ms-expand {
        display: none;
      }
      .select_container select {
        appearance: none;
        background-image: url(./icons/dropdown_arrow.svg);
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 12px;
        color: var(--color-dark);
        width: 100%;
        height: 100%;
        padding-left: 8px;
        border: none;
        outline: none;
        font-size: var(--fz-x_small);
        font-weight: 700;
        cursor: pointer;
      }
        .select_container select option {
          color: var(--color-dark);
          font-weight: 700;
        }

    main article .thanks {
      color: var(--color-dark);
      text-align: center;
      width: 100%;
      padding: 0 32px 12px;
      font-size: var(--fz-medium);
      font-weight: 700;
    }


footer {
  background-color: var(--color-brand_1);
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 48px;
}
  footer hr {
    border: 1px solid var(--color-dark);
  }
  footer > div {
    display: flex;
    padding: 16px;
  }
  footer .edoc {
    padding: 0;
    transition: all 200ms ease;
  }
  footer .edoc:hover {
    background-color: var(--color-dark);
  }
  footer .edoc:hover a {
    color: var(--color-white);
  }
    footer .edoc a {
      color: var(--color-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 16px;
      font-size: var(--fz-x_small);
      font-weight: 700;
      transition: all 200ms ease;
    }
    footer .copyright p {
      color: var(--color-dark);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      font-size: var(--fz-xx_small);
      font-weight: 400;
    }

    footer .info ul {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
      footer .info ul li {
        display: flex;
        align-items: center;
        color: var(--color-dark);
        margin-bottom: 16px;
        font-size: var(--fz-xx_small);
        font-weight: 700;
      }
      footer .info ul li:last-child {
        margin: 0;
      }
        footer .info ul li a {
          color: var(--color-dark);
        }
        footer .info ul li a:hover {
          text-decoration: underline;
        }
        footer .info ul li svg {
          color: var(--color-dark);
          width: 24px;
          height: 24px;
          margin-right: 4px;
        }
    footer .info div {
      display: grid;
      grid-template: 100% / auto auto;
      gap: 16px;
      align-items: flex-end;
    }
      footer .info div a svg {
        color: var(--color-dark);
        width: 24px;
        height: 24px;
      }




