/*~ ESTILOS GLOBALES */
:root {
  /* Colores estándar */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brand_1: #ffda60;
  --color-brand_2: #22262C;
  --color-brand_3: #f03043;
  --color-brand_4: #f3f3f3;
  --color-brand_5: #d8d8d8;
  --color-brand_6: #3c3d3f;

  /* Colores hover */
  --color-hover-black: rgba(0, 0, 0, 0.12);
  --color-hover-white: rgba(255, 255, 255, 0.12);
  --color-hover-brand_3: #a50b1a;

  /* Colores active */
  --color-active-black: rgba(0, 0, 0, 0.24);
  --color-active-white: rgba(255, 255, 255, 0.24);
  --color-active-brand_1: rgb(255, 218, 96, 0.6);
  --color-active-brand_2: rgb(34, 38, 44, 0.6);
  --color-active-facebook: rgba(0, 89, 255, 0.3);
  --color-active-instagram: rgba(253,29,29, 0.3);

  /* Sombras */
  --box_shadow-hard: 0px -2px 8px 4px rgba(0, 0, 0, 0.3);
  --box_shadow-soft: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);

  /* Tamaños de fuente */
  /* --fz-xxx_large: 5.4rem; */
  /* --fz-xx_large: 4rem; */
  /* --fz-x_large: 3.2rem; */
  --fz-large: 2.8rem;
  --fz-medium: 2.4rem;
  --fz-small: 2rem;
  --fz-x_small: 1.6rem;
  --fz-xx_small: 1.4rem;
  --fz-xxx_small: 1.2rem;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style: none;
}



/*~ ESTILOS BODY */
body {
  background-color: var(--color-black);
  display: flex;
  width: 100vw;
  height: 100vh;
  /* overflow-y: hidden; */
}
.global_box {
  position: relative;
  background-color: var(--color-brand_4);
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 52px;
  transition: all 200ms ease;
  /* overflow-y: scroll; */
  /* overflow: overlay; */
}



/*~ ESTILOS HEADER */
header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-brand_1);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 52px;
  box-shadow: var(--box_shadow-hard);
}
header div {
  display: flex;
  align-items: center;
}
header div div {
  display: flex;
  justify-content: center;
  width: 72px;
  height: 100%;
}
header div a {
  display: flex;
  align-items: center;
  padding-right: 24px;
}
header div a svg {
  fill: var(--color-brand_2);
  width: 36px;
  height: 36px;
}
header div a span {
  color: var(--color-brand_2);
  margin-left: 6px;
  font-size: var(--fz-medium);
  font-weight: 900;
}
header div div i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 200ms ease;
}
header div div i:hover {
  background-color: var(--color-hover-black);
}
header div div i:active {
  background-color: var(--color-active-black);
}
header div div i svg {
  fill: var(--color-brand_2);
  color: var(--color-brand_2);
  width: 24px;
  height: 24px;
}



/*~ ESTILOS NAV */
nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 72px;
  margin: 20px 0;
  padding-top: 24px;
  border-radius: 0 8px 8px 0;
  box-shadow: var(--box_shadow-soft);
  transition: all 100ms ease;
  overflow: hidden;
}
/* Menu y footer*/
nav ul {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: fit-content;
}
nav ul li {
  display: flex;
  align-items: center;
  width: 100%;
}
nav ul.footer li.social {
  flex-direction: column;
}
nav ul.footer li.legal {
  position: relative;
  flex-wrap: wrap;
  gap: 4px;
  padding: 24px;
}
nav ul li a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 48px;
  padding-left: 24px;
  transition: all 200ms ease;
}
nav ul.footer li i {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-brand_4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 100%;
}
nav ul.footer li.legal a {
  width: fit-content;
  height: fit-content;
  padding: 0;
}
nav ul li a:hover {
  background-color: var(--color-hover-black);
}
nav ul.footer li.legal > a:hover {
  background-color: unset;
  color: var(--color-brand_2);
  text-decoration: underline;
}
nav ul li a:active {
  background-color: var(--color-active-brand_1);
}
nav ul.footer li.social a.fb:active {
  background-color: var(--color-active-facebook);
}
nav ul.footer li.social a.ig:active {
  background-color: var(--color-active-instagram);
}
nav ul li a svg {
  fill: var(--color-brand_2);
  width: 24px;
  height: 24px;
}
nav ul li a span {
  color: var(--color-brand_2);
  margin: 2px 0 0 24px;
  font-size: var(--fz-x_small);
  font-weight: 700;
}
nav ul.footer li.legal i a {
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
nav ul li.legal i a:active {
  background-color: var(--color-active-black);
}
nav ul.footer li.legal span {
  color: var(--color-brand_2);
  margin: 0;
  font-size: var(--fz-xxx_small);
  font-weight: 400;
}



/*~ ESTILOS MAIN */
main {
  position: relative;
  display: flex;
  flex-grow: 1;
  padding: 20px;
  transition: all 100ms ease;
  overflow: hidden;
}
main div.content {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  width: 100%;
  height: 100%;
  transition: all 100ms ease;
}
main div.content--move {
  width: calc(100% - 360px);
}
main div.content figure {
  position: relative;
  width: 100%;
  height: 50%;
  border-radius: 8px;
  box-shadow: var(--box_shadow-soft);
  overflow: hidden;
}
main div.content figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
main div.content > h2 {
  color: var(--color-brand_2);
  display: flex;
  align-items: center;
  height: 48px;
  font-size: var(--fz-medium);
  font-weight: 700;
}
main div.content div.local {
  flex-grow: 1;
  display: grid;
  grid-template: 1fr 1fr / repeat(3, 1fr);
  gap: 20px;
  height: fit-content;
}
main div.content div.local section {
  color: var(--color-brand_2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
  border-radius: 8px;
  box-shadow: var(--box_shadow-soft);
  cursor: pointer;
  transition: all 200ms ease;
}
main div.content div.local section:hover {
  background-color: var(--color-brand_2);
  color: var(--color-brand_4);
}
main div.content div.local section h2 {
  font-size: var(--fz-small);
  font-weight: 700;
}
main div.content div.local section span {
  font-size: var(--fz-xx_small);
  font-weight: 400;
}





main div.basket {
  position: absolute;
  top: 20px;
  right: 0;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 360px;
  height: calc(100% - 40px);
  border-radius: 8px 0 0 8px;
  /* box-shadow: var(--box_shadow-soft); */
  transition: all 100ms ease;
}
main div.basket--move {
  transform: translateX(0%);
}
main div.basket section {
  /* background-color: var(--color-brand_4); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10%;
  padding-left: 24px;
  /* border-bottom: 1px solid var(--color-active-brand_2); */
  border-radius: 8px 0 0 8px;
  box-shadow: var(--box_shadow-soft);
}
main div.basket section h2 {
  color: var(--color-brand_2);
  font-size: var(--fz-x_small);
  font-weight: 700;
}
main div.basket section i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 100%;
}
main div.basket section i a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
main div.basket section i a:hover {
  background-color: var(--color-hover-black);
}
main div.basket section i a:active {
  background-color: var(--color-active-black);
}
main div.basket section i a svg {
  fill: var(--color-brand_2);
  width: 20px;
  height: 20px;
}
main div.basket section.details {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  padding: 0;
  overflow: hidden;
}
main div.basket section.details a.action {
  color: var(--color-brand_2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 0 12px 0 24px;
  transition: all 200ms ease;
}
main div.basket section.details a.action:hover {
  background-color: var(--color-brand_2);
  color: var(--color-brand_4);
}
main div.basket section.details a.action:hover span {
  background-color: var(--color-brand_5);
  color: var(--color-brand_2);
}
main div.basket section.details a.action:active {
  background-color: var(--color-active-black);
}
main div.basket section.details a.action span {
  background-color: var(--color-brand_2);
  color: var(--color-brand_4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 24px;
  border-radius: 4px;
  font-size: var(--fz-xx_small);
  font-weight: 700;
  transition: all 100ms ease;
}
main div.basket section.details a.action h3 {
  padding: 8px 12px;
  border-radius: 4px;
  font-size: var(--fz-x_small);
  font-weight: 700;
}
main div.basket section.details div.amount {
  display: flex;
  flex-grow: 2;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 36px;
  padding: 8px 24px;
  border-bottom: 1px solid var(--color-active-brand_2);
  font-size: var(--fz-xx_small);
  font-weight: 700;
}


main div.basket div.basket_content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
  padding: 8px 24px;
  overflow: hidden;
  overflow-y: scroll;
}
main div.basket div.basket_content ul.basket_items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
::-webkit-scrollbar {
  appearance: none;
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--color-brand_2);
  border-radius: 20px;
}
main div.basket div.basket_content ul.basket_items li {
  position: relative;
  background-color: var(--color-brand_4);
  width: 100%;
  height: 120px;
  padding: 12px;
  border-radius: 8px;
  box-shadow: var(--box_shadow-soft);
}
main div.basket div.basket_content ul.basket_items li span {
  display: flex;
  align-items: center;
  font-size: var(--fz-xxx_small);
  font-weight: 700;
}
main div.basket div.basket_content ul.basket_items li img.photo {
  width: 60px;
  height: 60px;
}
main div.basket div.basket_content ul.basket_items li span.sum {
  position: absolute;
  bottom: 12px;
  left: 12px;
  background-color: #22262C;
  color: var(--color-brand_4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px 0 0 4px;
  font-size: var(--fz-xx_small);
  font-weight: 400;
  cursor: pointer;
}
main div.basket div.basket_content ul.basket_items li span.minus {
  position: absolute;
  bottom: 12px;
  left: 72px;
  background-color: #22262C;
  color: var(--color-brand_4);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 0 4px 4px 0;
  font-size: var(--fz-xx_small);
  font-weight: 500;
  cursor: pointer;
}
main div.basket div.basket_content ul.basket_items li span.delete {
  position: absolute;
  top: 12px;
  right: 12px;
  color: var(--color-brand_2);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  font-size: var(--fz-xx_small);
  font-weight: 900;
  cursor: pointer;
}
main div.basket div.basket_content ul.basket_items li span.delete:hover {
  background-color: var(--color-hover-black);
}
main div.basket div.basket_content ul.basket_items li span.delete:active {
  background-color: var(--color-active-black);
}
main div.basket div.basket_content ul.basket_items li span.quantity {
  position: absolute;
  bottom: 12px;
  left: 32px;
  background-color: var(--color-brand_5);
  justify-content: center;
  width: 40px;
  height: 20px;
  font-weight: 400;
}
main div.basket div.basket_content ul.basket_items li span.name {
  position: absolute;
  top: 12px;
  left: 84px;
  width: 180px;
  height: 20px;
  font-size: var(--fz-xx_small);
}
main div.basket div.basket_content ul.basket_items li span.spec {
  position: absolute;
  top: 32px;
  left: 84px;
  color: var(--color-brand_6);
  width: 180px;
  height: 20px;
}
main div.basket div.basket_content ul.basket_items li span.small_price {
  position: absolute;
  top: 52px;
  left: 84px;
  color: var(--color-brand_6);
  width: 180px;
  height: 20px;
  font-weight: 400;
}
main div.basket div.basket_content ul.basket_items li span.price {
  position: absolute;
  right: 12px;
  bottom: 12px;
  justify-content: flex-end;
  width: 100px;
  height: 20px;
  font-size: var(--fz-x_small);
}