:root {
  --color-white: #FFFFFF;
  --color-light: #F3F3F3;
  --color-misty_light: #C4C4C4;
  --color-soft_dark: #65656C;
  --color-dark: #22262C;
  --shadow-soft: 0px 4px 8px rgba(0, 0, 0, 0.20);
  --fz-x_large: 3.4rem;
  --fz-large: 2.8rem;
  --fz-medium: 2.4rem;
  --fz-small: 1.8rem;
  --fz-x_small: 1.4rem;
  --fz-xx_small: 1.2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
}
html {
  font-size: 62.5%;
}
body {
  background-color: orangered;
  display: flex;
  width: 100vw;
  height: 100vh;
}
.container {
  background-color: var(--color-misty_light);
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: fit-content;
}

header {
  z-index: 1;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  padding: 0 16px;
  box-shadow: var(--shadow-soft);
}
header div {
  display: grid;
  grid-template: 48px / auto auto;
  gap: 16px;
  align-items: center;
}
header div a {
  color: var(--color-dark);
  display: flex;
}
header div a svg {
  width: 32px;
  height: 32px;
}
header div .menu svg {
  width: 26px;
  height: 26px;
}

main {
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  width: 100vw;
}
main article {
  /* background-color: skyblue; */
  display: grid;
  grid-template: auto auto / 1fr;
  gap: 48px;
  padding-top: 48px;
}
main article > section {
  /* background-color: seagreen; */
  color: var(--color-dark);
  display: grid;
  grid-template: auto auto auto / auto;
  gap: 12px;
  text-align: center;
  width: 100%;
  padding: 0 32px;
}
main article section h1 {
  font-size: var(--fz-large);
}
main article section h2 {
  font-size: var(--fz-small);
}
main article section p {
  font-size: var(--fz-x_small);
}
main article > div {
  /* background-color: darkkhaki; */
  display: flex;
  padding: 0 32px;
  overflow-x: scroll;
}
::-webkit-scrollbar {
  display: none;
}
main article > div .carousel {
  /* background-color: fuchsia; */
  display: grid;
  grid-template: auto / auto auto auto;
  gap: 16px;
}
main article > div .carousel > section {
  /* background-color: rosybrown; */
  display: grid;
  grid-template: auto auto / 256px;
  gap: 12px;
  justify-items: center;
  padding-bottom: 48px;
}
.carousel section h2 {
  color: var(--color-dark);
  font-size: var(--fz-small);
}
.carousel section > div {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: var(--shadow-soft);
  overflow: hidden;
}
.carousel section > div figure {
  position: relative;
  width: 100%;
  height: 256px;
  overflow: hidden;
}
.carousel section > div figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.carousel section > div .order_bar {
  background-color: var(--color-light);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  padding: 8px;
}
.order_bar input {
  background-color: var(--color-dark);
  color: var(--color-light);
  padding: 8px;
  height: fit-content;
  border: none;
  border-radius: 4px;
  font-size: var(--fz-x_small);
}
.order_bar > section {
  display: grid;
  grid-template: auto / auto auto;
  gap: 16px;
  align-items: center;
}
.order_bar > section h3 {
  color: var(--color-dark);
  font-size: var(--fz-x_small);
}
.order_bar > section a {
  color: var(--color-dark);
  display: flex;
  width: fit-content;
  height: fit-content;
}
.order_bar a svg {
  width: 32px;
  height: 32px;
  border-radius: 4px;
}


main > section {
  background-color: var(--color-light);
  display: flex;
  justify-content: center;
  padding: 12px;
}
main > section h2 {
  color: var(--color-dark);
  font-size: var(--fz-small);
}